<h1>Login</h1>

<form action="/sessions" method="post">
  <div class="md-3 sm-6">
    <label for="email_input" class="form-label">Email</label>
    <input type="text" name="email" id="email_input" class="form-control">
  </div>

  <div class="md-3 sm-6">
    <label for="password_input" class="form-label">Password</label>
    <input type="password" name="password" id="password_input" class="form-control">
  </div>

  <button>Login<button>
</form>
