<h1>New User Account</h1>

<form action="/users" method="post">
  <p>
    <label for="username" class="form-label">Username</label>
    <input type="text" name="username" id="username" class="form-control">
  </p>
  <p>
    <label for="email" class="form-label">Email</label>
    <input type="text" name="email" id="email" class="form-control">
  </p>
  <p>
    <label for="password" class="form-label">Password</label>
    <input type="text" name="password" id="password" class="form-control">
  </p>
  <button>Signup</button>
</form>